<div class="container">
    <h2>Create Business Property</h2>
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit(propertyForm.value)" method="post">
        <table>
            <tr>
                <td>Business ID:</td>
                <td><input formControlName="businessId" id="businessId" type="number" class="form-control"
                        placeholder="" />
            </tr>
            <tr>
                <td>Consumer ID:</td>
                <td><input formControlName="consumerId" id="consumerId" type="number" class="form-control"
                        placeholder="" /></td>
            </tr>
            <!-- <tr>
                <td>Insurance Type:</td>
                <td><input formControlName="insurancetype" id="insurancetype" type="text" class="form-control"
                        placeholder="" /></td>
            </tr> -->
            <!-- <tr>
                <td>Property Type:</td>
                <td><input formControlName="propertytype" id="propertytype" type="text" class="form-control"
                        placeholder="" /></td>
            </tr> -->
            <tr>
                <td>Building sqft:</td>
                <td><input formControlName="buildingSqFt;" id="buildingsqft" type="text" class="form-control"
                        placeholder="" /></td>
            </tr>
            <tr>
                <td>Building Type:</td>
                <td><input formControlName="buildingType" id="buildingtype" type="text" class="form-control"
                        placeholder="" /></td>
            </tr>
            <tr>
                <td>Building Storeys:</td>
                <td><input formControlName="buildingStoreys" id="buildingstoreys" type="text" class="form-control"
                        placeholder="" /></td>
            </tr>
            <tr>
                <td>Building Age:</td>
                <td><input formControlName="buildingAge" id="buildingage" type="number" class="form-control"
                        placeholder="" /></td>
            </tr>
            <!-- <tr>
                <td>Property Value:</td>
                <td><input formControlName="propertyValue" id="costoftheasset" type="number" class="form-control"
                        placeholder="" />
                </td>
            </tr> -->
            <tr>
                <td>Cost of the Asset:</td>
                <td><input formControlName="costOftheAsset" id="costoftheasset" type="number" class="form-control"
                        placeholder="" /></td>
            </tr>
            <tr>
                <td>Salvage Value:</td>
                <td><input formControlName="salvageValue" id="salvagevalue" type="number" class="form-control"
                        placeholder="" /></td>
            </tr>
            <tr>
                <td>Useful Life of the Asset:</td>
                <td><input formControlName="usefulLifeofAsset" id="usefullifeoftheAsset" type="number"
                        class="form-control" placeholder="" />
                </td>
            </tr>
            <div align="center">
                <input type="submit" class="btn btn-success" value="Create Business Property" />
            </div>
        </table>
    </form>
</div>




<table>
    <tr>
        <td>
            <h6>Business Property Status:</h6>
        </td>
        <td>
            <h6>
                <span class="text-success">{{response}}</span>
            </h6>
        </td>
    </tr>
</table><br> <br>
